<!DOCTYPE html>
<html lang="en">
<%- include('partials/head') %> 
<body>
    <%- include('partials/header') %> 
    <main>
        <h1>Crear una nueva nota</h1>
        <section class="notaForm">
            <form id="createForm" action="" method="post">
                <div class="form-group">
                    <label for="titulo">Título</label>
                    <input type="text" name="titulo" id="titulo">
                    <small id="errorTitulo"></small>
                </div>
                <div class="form-group">
                    <label for="texto">Texto</label>
                    <input type="text" name="texto" id="texto" class="textoGrande" placeholder="Cualquier cosa que quieras escribir" spellcheck="true" size="205" class="barra2">
                    <small id="errorTexto"></small>
                </div>
                
                <button type="submit">Crear</button>
            </form>
        </section>
    </main>
    <%- include('partials/footer') %>
    <script src="/js/validacionFront.js"></script>
</body>
</html>