<!DOCTYPE html>
<html lang="en">
<%- include('partials/head') %> 
<body>
    <%- include('partials/header') %> 
    <main>
        <h1>Estos son los resultados de la búsqueda</h1>
        <section class="cardList">

            <% if (listado.length != 0) { %>
                <% for( let i = 0; i < listado.length; i++ ) { %>
                    <a href="#" class="card">
                        
                        <h2><%= listado[i].titulo %></h2>
                        <section></section>
                    </a>
                <% } %>
            <% } else { %>
                <h2>No encontramos notas para esta búsqueda</h2>
            <% } %>

        </section>
    </main>
    <%- include('partials/footer') %> 
</body>
</html>