<header>
    <a href="/">Notitas</a>
    <form action="/notas/search">
        <input type="text" name="search"  id="search" value="<%= (typeof laQuery != 'undefined') ? laQuery : '' %>">
        <button type="submit"><i data-feather="search"></i></button>
    </form>
    <ul>
        <li><a href="/notas/create">+ Nueva Nota</a></li>
    </ul>
</header>